<nav class="navbar">
  <a routerLink="/" class="brand">
    <img src="logo.png" alt="DeviceTrust" class="brand-logo" />
  </a>

  @if (authService.isLoggedIn()) {
    <div class="nav-links">
      @if (authService.getRole() === 'Owner') {
        <a routerLink="/owner/home">Home</a>
        <a routerLink="/owner/devices">My Devices</a>
        <a routerLink="/transfers/pending">Transfers</a>
      }
      @if (authService.getRole() === 'Technician') {
        <a routerLink="/technician/dashboard">Find Device</a>
        <a routerLink="/technician/repairs">My Repairs</a>
      }
      @if (authService.getRole() === 'Admin') {
        <a routerLink="/admin/dashboard">Admin</a>
      }
      <span>{{ authService.getRole() }}</span>
      <button (click)="onLogout()">Logout</button>
    </div>
  }

</nav>
